.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    .btn-line {
        width: 25px;
        height: 3px;
        margin: 0 0 5px 0;
        background: set-text-color($secondary-color);
        @include easeOut;
    }

    // MenuLines to X
    &.close {
        transform: rotate(180deg);

        .btn-line {
            // first is rotating, second is hidden and third is rotating too

            &:nth-child(1) {
                background: $primary-color;
                transform: rotate(45deg) translate(5px, 5px);
            }

            &:nth-child(2) {
                opacity: 0;

            }

            &:nth-child(3) {
                background: $primary-color;
                transform: rotate(-45deg) translate(7px, -6px);
            }
        }
    }
}

// menu overlay like in exercise but my own modifications
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;

    &.show {
        visibility: visible;

    }

    //&-branding,
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: right;
        width: 20%;
        height: 100vh;
        overflow: hidden;
        z-index: 4;
    }

    &-nav {
        margin: 0;
        padding: 0;
        background: darken($secondary-color, 5);
        list-style: none;
        z-index: 4;
        transform: translate3d(600px, 0, 0); // makes sidebar hidden
        @include easeOut;

        &.show {
            //sidemenu slides in from right
            transform: translate3d(0, 0, 0);
            z-index: 4;
        }
    }

    // side panel customation and sliding from left






}

.nav-item {
    transform: translate3d(600px, 0, 0);
    @include easeOut;


    &.show {
        transform: translate3d(0, 0, 0);
    }

    &.current>a {
        color: set-text-color($secondary-color);
    }
}

.nav-link {
    //menu title made to look nice and have the easeout function on them with color white
    display: inline-block;
    position: relative;
    font-size: 25px;
    text-transform: uppercase;
    padding: 15px;
    font-weight: bold;
    color: $primary-color;
    @include easeOut;

    &:hover {
        color: white;
    }
}