@import 'config';
@import 'menu';

* {
    box-sizing: border-box;

}

h1,
h2 {
    position: relative;
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 7rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;

    }

}


body {
    @include background;
    background-color: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

.Info {
    display: grid;

    gap: 50px 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "Bio story"
        "teamimage contactUs"
    ;

    .text-secondary {
        grid-area: Bio;
        font-size: 2rem;
    }

    .story {
        grid-area: story;
        font-size: 1rem;
    }

    .team {
        grid-area: teamimage;
        margin: auto;
        border: $secondary-color 3px solid;
        background-size: cover;
        width: 700px;
        height: 500px;
        border-radius: 10px;
    }

    .contactUs {
        grid-area: contactUs;
    }
}



#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 35);
    color: set-text-color($primary-color);
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 2;
}